.parent{
    margin: 10px;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    display: flexbox;
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:700px;
    height: 55vh;
}

